html, body, div, span, applet, object, iframe, img, strong, form, label, tfoot, thead, b {margin:0;padding:0;border:0;outline:0;vertical-align:baseline;}
input[type=image] {border:0px;}
:focus {outline:0;}
html {height:100%;max-height:100%;}
body {height:100%;max-height:100%;font-family:arial, verdana, tahoma, Georgia, "Trebuchet MS", "Times New Roman", sans-serif;font-size:12px;color:#000;line-height:1;}
.clear {clear:both;overflow:hidden;height:0px;}
.vertical-middle {width:100%;height:100%;overflow:hidden;}
.vertical-middle td {vertical-align:middle;text-align:center;}
.flex {position:relative;}
.flex img.top-absolute {position:absolute;top:0px;left:0px;}
.tac {text-align:center;}
.tar {text-align:right;}
.tal {text-align:left;}
.tdu {text-decoration:underline;}
.ttu {text-transform:uppercase;}
.ttn {text-transform:none;}
.fl {float:left;}
.fr {float:right;}
.inner-div {float:right;position:relative;right:50%;width:auto;}
.inner-b {float:left;width:100%;zoom:1;}
.pr {position:relative;}
.zoom1 {zoom:1;}
.js-hidden {display:none;}
@CHARSET "UTF-8";
.flash {margin-bottom:15px;position:relative;}
.flash .message {-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;text-align:center;margin:0px auto;zoom:1;}
.flash .message p {margin:8px 20px;text-align:center;}
.flash .error {border:1px solid #EED3D7;background-color:#F2DEDE;color:#B94A48;}
.flash .warning {border:1px solid #F9E2B3;background-color:#FAF1C4;color:#B98B3B;}
.flash .notice {border:1px solid #D6E9C6;background-color:#DFF0D8;color:#468847;}
.flash .message ul {margin:0px;padding:10px;list-style:none;}
.flash .message ul li {text-align:left;background:url("/web/images/orange_li.gif") no-repeat 2px 7px;padding-left:14px;line-height:18px;}
.ajaxp-modal-bg {
position:fixed;
height:100%;
width:100%;
background:#000;
background:rgba(0,0,0,.8);
z-index:100;
display:none;
top:0;
left:0;
}
.ajaxp-modal {
visibility:hidden;
top:100px;
left:50%;
margin-left:-300px;
width:520px;
background-color:#FFF;
position:absolute;
z-index:101;
padding:30px 40px 30px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
-moz-box-shadow:0 0 10px rgba(0,0,0,.4);
-webkit-box-shadow:0 0 10px rgba(0,0,0,.4);
-box-shadow:0 0 10px rgba(0,0,0,.4);
}
.ajaxp-modal .close-ajaxp-modal {
font-size:22px;
line-height:.5;
position:absolute;
text-decoration:none;
top:8px;
right:11px;
color:#aaa;
text-shadow:0 -1px 1px rbga(0,0,0,.6);
font-weight:bold;
cursor:pointer;
} 
.ajaxp-modal .close-ajaxp-modal:hover {color:#000} 	
@media screen and (max-width:768px) {
.ajaxp-modal {width:350px;margin-left:-175px !important;}
}
@media screen and (max-width:480px) {
.ajaxp-modal {width:200px;margin-left:-100px !important;}
}
body.mceContentBody {background-color:#fff;font-family:Trebuchet MS, 'PT Sans',sans-serif;font-size:15px;}
.html-content, .mceContentBody, .mce-content-body {line-height:20px;/*overflow:hidden;*/ text-align:left;color:#343434;font-size:13px;}
.html-content h1, .mceContentBody h1, .mce-content-body h1 {font-family:Trebuchet MS, 'PT Sans',sans-serif, Tahoma, Trebuchet MS, Arial;font-size:22px;color:#343434;margin:14px 0px;padding:0px;position:relative;font-weight:normal;line-height:22px;text-align:left;text-transform:none;}
.html-content h2, .mceContentBody h2, .mce-content-body h2 {font-family:Trebuchet MS, 'PT Sans',sans-serif, Tahoma, Trebuchet MS, Arial;font-size:20px;color:#343434;margin:14px 0px;padding:0px;position:relative;font-weight:normal;line-height:20px;text-align:left;text-transform:none;}
.html-content h3, .mceContentBody h3, .mce-content-body h3 {font-family:Trebuchet MS, 'PT Sans',sans-serif, Tahoma, Trebuchet MS, Arial;font-size:18px;color:#343434;margin:14px 0px;padding:0px;position:relative;font-weight:normal;line-height:18px;text-align:left;text-transform:none;}
.html-content h4, .mceContentBody h4, .mce-content-body h4 {font-family:Trebuchet MS, 'PT Sans',sans-serif, Tahoma, Trebuchet MS, Arial;font-size:16px;color:#343434;margin:14px 0px;padding:0px;position:relative;font-weight:normal;line-height:16px;text-align:left;text-transform:none;}
.html-content h5, .mceContentBody h5, .mce-content-body h5 {font-family:Trebuchet MS, 'PT Sans',sans-serif, Tahoma, Trebuchet MS, Arial;font-size:14px;color:#343434;margin:14px 0px;padding:0px;position:relative;font-weight:normal;line-height:14px;text-align:left;text-transform:none;}
.html-content h6, .mceContentBody h6, .mce-content-body h6 {font-family:Trebuchet MS, 'PT Sans',sans-serif, Tahoma, Trebuchet MS, Arial;font-size:13px;color:#343434;margin:14px 0px;padding:0px;position:relative;font-weight:normal;line-height:13px;text-align:left;text-transform:none;}
.html-content ul, .mceContentBody ul, .mce-content-body ul {margin:14px 0px;padding:0px;list-style:none;line-height:14px;overflow:hidden;text-transform:none;}
.html-content ul li, .mceContentBody ul li, .mce-content-body ul li {background:url("/web/images/li_back.png") no-repeat 3px 10px;padding-left:20px;margin-bottom:8px;line-height:24px;text-transform:none;}
.html-content ol, .mceContentBody ol, .mce-content-body ol {margin:14px 0px;padding:0px;list-style:decimal;padding-left:30px;}
.html-content ol li, .mceContentBody ol li, .mce-content-body ol li {margin-bottom:8px;line-height:24px;}
.html-content table, .mceContentBody table, .mce-content-body table {width:86%;border-top:1px solid #bcbdbc;border-left:1px solid #bcbdbc;border-spacing:0px;margin:14px 0px;}
.html-content table td, .mceContentBody table td, .mce-content-body table td, .html-content table th, .mceContentBody table th, .mce-content-body table th {padding:7px;background-color:#f5f5f5;border-bottom:1px solid #bcbdbc;border-right:1px solid #bcbdbc;font-size:13px;}
.html-content table thead td, .mceContentBody table thead td, .mce-content-body table thead td {background-color:#bcbdbc;font-weight:bold;color:#fff;}
.html-content blockquote, .mceContentBody blockquote, .mce-content-body blockquote {background-color:#f9f3ee;margin:20px 0px;padding:5px 15px;}
.html-content blockquote h2, .mceContentBody blockquote h2, .mce-content-body blockquote h2 {background:none !important;}
.html-content blockquote ul, .mceContentBody blockquote ul, .mce-content-body blockquote ul {margin-left:0% !important;margin-top:22px;}
.html-content blockquote ul li, .mceContentBody blockquote ul li, .mce-content-body blockquote ul li {background:url("/web/images/li_back_2.png") no-repeat 0px 0px;padding-left:35px;line-height:22px;margin-bottom:15px;font-size:16px;padding-bottom:6px;}
.html-content p, .mceContentBody p, .mce-content-body p {line-height:24px;margin:16px 0px;font-size:14px;}
.html-content p em, .mceContentBody em, .mce-content-body p em {color:#343434;}
.html-content strong, .mceContentBody strong, .mce-content-body strong {font-weight:bold;}
.html-content a, .mceContentBody a, .mce-content-body a {color:#2B89B4;text-decoration:none;}
.html-content a:hover, .mceContentBody a:hover, .mce-content-body a:hover {text-decoration:underline;color:#2B89B4;}
.html-content .att-files, .mceContentBody .att-files, .mce-content-body .att-files {margin:0px;padding:0px;list-style:none;float:left;}
.html-content .att-files li, .mceContentBody .att-files li, .mce-content-body .att-files li {float:left;margin-right:10px;margin-bottom:10px;background:none;}
.html-content .att-files li .img-box, .mceContentBody .att-files li .img-box, .mce-content-body .att-files li .img-box {width:100px;height:100px;overflow:hidden;border:3px solid #eee;}
.html-content .att-files li .img-box table, .mceContentBody .att-files li .img-box table, .mce-content-body .att-files li .img-box table {width:100%;margin:0px;border:0px;}
.html-content .att-files li .img-box td, .mceContentBody .att-files li .img-box td, .mce-content-body .att-files li .img-box td {height:100px;border:0px;padding:0px;vertical-align:middle;}
.html-content .att-files li .f-img, .mceContentBody .att-files li .f-img, .mce-content-body .att-files li .f-img {width:100px;}
.html-content span.customtitle, .mceContentBody span.customtitle, .mce-content-body span.customtitle {font-style:italic;color:#4DA9D8;font-size:13px}
.html-content a span.it, .mceContentBody a span.it, .mce-content-body a span.it {font-style:italic;color:#4DA9D8;font-size:13px}
.html-content span.example, .mceContentBody span.example, .mce-content-body span.example {background-color:#8BCBDE;}
.html-content span.important, .mceContentBody span.important, .mce-content-body span.important {background-color:#DDB598;}
.html-content span.note, .mceContentBody span.note, .mce-content-body span.note {font-style:italic;}
.html-content .fancy img {max-width:100%;}
.html-content .zoom {display:none;}
@CHARSET "UTF-8";
.blue-link {color:#097392;text-decoration:none;}
.blue-link:hover {color:#097392;text-decoration:underline;}
.h-but {
font-family:'PT Sans', sans-serif;
cursor:pointer; text-decoration:none;border:0px;padding:0px;margin:0px;text-align:center;display:inline-block;
line-height:14px;
padding:8px 5px;
color:#fff !important;
font-size:14px;
text-decoration:none;
text-decoration:none !important;
width:130px;
}
.def-but {
font-family:'PT Sans', sans-serif;
cursor:pointer; text-decoration:none;border:0px;padding:0px;margin:0px;text-align:center;display:inline-block;
line-height:14px;
padding:9px 10px;
color:#fff !important;
font-size:14px;
text-decoration:none;
text-decoration:none !important;
}
.orange-but {
background-color:#fe8e30;
background-image:-webkit-gradient(linear, left top, left bottom, from(#fe8e30), to(#ef750e));
background-image:-webkit-linear-gradient(top, #fe8e30, #ef750e);
background-image:   -moz-linear-gradient(top, #fe8e30, #ef750e);
background-image:     -o-linear-gradient(top, #fe8e30, #ef750e);
background-image:        linear-gradient(to bottom, #fe8e30, #ef750e);
-webkit-box-shadow:0px 1px 1px 0px #333;
box-shadow:0px 1px 1px 0px #333;
text-shadow:1px 1px 1px #d0751a;
}
.orange-but:hover {
background:#ef750e;
-webkit-box-shadow:0px 1px 1px 0px #333;
box-shadow:0px 1px 1px 0px #333;
}
.orange-but:active {
background-color:#e86720;
-webkit-box-shadow:0px 1px 1px 0px #333;
box-shadow:0px 1px 1px 0px #333;
}
.blue-but {
background-color:#39b6e1;
background-image:-webkit-gradient(linear, left top, left bottom, from(#39b6e1), to(#32a6cd));
background-image:-webkit-linear-gradient(top, #39b6e1, #32a6cd);
background-image:   -moz-linear-gradient(top, #39b6e1, #32a6cd);
background-image:     -o-linear-gradient(top, #39b6e1, #32a6cd);
background-image:        linear-gradient(to bottom, #39b6e1, #32a6cd);
-webkit-box-shadow:0px 0px 2px 0px #a2a2a2;
box-shadow:0px 0px 2px 0px #a2a2a2;
text-shadow:1px 1px 1px #2c95b8;
}
.blue-but:hover {
background:#32a6cd;
-webkit-box-shadow:0px 0px 2px 0px #32a6cd;
box-shadow:0px 0px 2px 0px #32a6cd;
}
.blue-but:active {
background-color:#2c94b7;
-webkit-box-shadow:0px 0px 3px 0px #32a6cd;
box-shadow:0px 0px 3px 0px #32a6cd;
}
.light-blue-but {
background-color:#8dd5ed;
background-image:-webkit-gradient(linear, left top, left bottom, from(#a4dff2), to(#8dd5ed));
background-image:-webkit-linear-gradient(top, #a4dff2, #8dd5ed);
background-image:   -moz-linear-gradient(top, #a4dff2, #8dd5ed);
background-image:     -o-linear-gradient(top, #a4dff2, #8dd5ed);
background-image:        linear-gradient(to bottom, #a4dff2, #8dd5ed);
-webkit-box-shadow:0px 1px 1px 0px #a2a2a2;
box-shadow:0px 1px 1px 0px #a2a2a2;
text-shadow:1px 1px 1px #2c95b8;
}
.light-blue-but:hover {
background:#32a6cd;
-webkit-box-shadow:0px 1px 1px 0px #32a6cd;
box-shadow:0px 1px 1px 0px #32a6cd;
}
.light-blue-but:active {
background-color:#2c94b7;
-webkit-box-shadow:0px 1px 1px 0px #32a6cd;
box-shadow:0px 1px 1px 0px #32a6cd;
}
.ez-hide {opacity:0;filter:alpha(opacity=0);}
.ez-checkbox {
background:transparent url('/web/images/checkbox-red.png') 0 1px no-repeat;
display:inline-block;
cursor:pointer;
}
.ez-radio {
background:transparent url('/web/images/radio-black.png') 0 1px no-repeat;
display:inline-block;
}
.ez-checked {background-position:0 -18px;}
.ez-selected {background-position:0 -19px;}
.ez-checkbox-green {
background:transparent url('/web/images/checkbox-green.png') 0 1px no-repeat;
display:inline-block;
*display:inline;
}
.ez-checked-green {background-position:0 -18px;}
.ez-checkbox, .ez-radio {zoom:1;*display:inline;_height:30px;}
.icheckbox_line-grey,
.iradio_line-grey {
position:relative;
display:block;
margin:0;
padding:8px 5px 8px 30px;
font-size:13px;
font-weight:bold;
line-height:17px;
color:#000;
background:#eee;
border:none;
-webkit-border-radius:5px;
-moz-border-radius:5px;
border-radius:5px;
cursor:pointer;
border:1px solid #ccc;
}
.icheckbox_line-grey .icheck_line-icon,
.iradio_line-grey .icheck_line-icon {
position:absolute;
top:50%;
left:13px;
width:13px;
height:13px;
margin:-6px 0 0 0;
padding:0;
overflow:hidden;
background:url("/web/images/line.png") no-repeat;
border:none;
}
.icheckbox_line-grey.hover,
.icheckbox_line-grey.checked.hover,
.iradio_line-grey.hover {
background:#e1e0e0;
}
.icheckbox_line-grey.checked,
.iradio_line-grey.checked {
background:#e1e0e0;
}
.icheckbox_line-grey.checked .icheck_line-icon,
.iradio_line-grey.checked .icheck_line-icon {
background-position:-15px 0;
}
.icheckbox_line-grey.disabled,
.iradio_line-grey.disabled {
background:#D5D4D3;
cursor:default;
}
.icheckbox_line-grey.disabled .icheck_line-icon,
.iradio_line-grey.disabled .icheck_line-icon {
background-position:-30px 0;
}
.icheckbox_line-grey.checked.disabled,
.iradio_line-grey.checked.disabled {
background:#D5D4D3;
}
.icheckbox_line-grey.checked.disabled .icheck_line-icon,
.iradio_line-grey.checked.disabled .icheck_line-icon {
background-position:-45px 0;
}
@media (-o-min-device-pixel-ratio:5/4), (-webkit-min-device-pixel-ratio:1.25), (min-resolution:120dpi) {
.icheckbox_line-grey .icheck_line-icon,
.iradio_line-grey .icheck_line-icon {
background-image:url(line@2x.png);
-webkit-background-size:60px 13px;
background-size:60px 13px;
}
}
#fancybox-loading {
position:fixed;
top:50%;
left:50%;
width:40px;
height:40px;
margin-top:-20px;
margin-left:-20px;
cursor:pointer;
overflow:hidden;
z-index:1104;
display:none;
}
#fancybox-loading div {
position:absolute;
top:0;
left:0;
width:40px;
height:480px;
background-image:url('/web/images/fancybox/fancybox.png');
}
#fancybox-overlay {
position:absolute;
top:0;
left:0;
width:100%;
z-index:1100;
display:none;
}
#fancybox-tmp {
padding:0;
margin:0;
border:0;
overflow:auto;
display:none;
}
#fancybox-wrap {
position:absolute;
top:0;
left:0;
padding:20px;
z-index:1101;
outline:none;
display:none;
}
#fancybox-outer {
position:relative;
width:100%;
height:100%;
background:#fff;
}
#fancybox-content {
width:0;
height:0;
padding:0;
outline:none;
position:relative;
overflow:hidden;
z-index:1102;
border:0px solid #fff;
}
#fancybox-hide-sel-frame {
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
background:transparent;
z-index:1101;
}
#fancybox-close {
position:absolute;
top:-15px;
right:-15px;
width:30px;
height:30px;
background:transparent url('/web/images/fancybox/fancybox.png') -40px 0px;
cursor:pointer;
z-index:1103;
display:none;
}
#fancybox-error {
color:#444;
font:normal 12px/20px Arial;
padding:14px;
margin:0;
}
#fancybox-img {
width:100%;
height:100%;
padding:0;
margin:0;
border:none;
outline:none;
line-height:0;
vertical-align:top;
}
#fancybox-frame {
width:100%;
height:100%;
border:none;
display:block;
}
#fancybox-left, #fancybox-right {
position:absolute;
bottom:0px;
height:100%;
width:35%;
cursor:pointer;
outline:none;
background:transparent url('/web/images/fancybox/blank.gif');
z-index:1102;
display:none;
}
#fancybox-left {
left:0px;
}
#fancybox-right {
right:0px;
}
#fancybox-left-ico, #fancybox-right-ico {
position:absolute;
top:50%;
left:-9999px;
width:30px;
height:30px;
margin-top:-15px;
cursor:pointer;
z-index:1102;
display:block;
}
#fancybox-left-ico {
background-image:url('/web/images/fancybox/fancybox.png');
background-position:-40px -30px;
}
#fancybox-right-ico {
background-image:url('/web/images/fancybox/fancybox.png');
background-position:-40px -60px;
}
#fancybox-left:hover, #fancybox-right:hover {
visibility:visible;/* IE6 */
}
#fancybox-left:hover span {
left:20px;
}
#fancybox-right:hover span {
left:auto;
right:20px;
}
.fancybox-bg {
position:absolute;
padding:0;
margin:0;
border:0;
width:20px;
height:20px;
z-index:1001;
}
#fancybox-bg-n {
top:-20px;
left:0;
width:100%;
background-image:url('/web/images/fancybox/fancybox-x.png');
}
#fancybox-bg-ne {
top:-20px;
right:-20px;
background-image:url('/web/images/fancybox/fancybox.png');
background-position:-40px -162px;
}
#fancybox-bg-e {
top:0;
right:-20px;
height:100%;
background-image:url('/web/images/fancybox/fancybox-y.png');
background-position:-20px 0px;
}
#fancybox-bg-se {
bottom:-20px;
right:-20px;
background-image:url('/web/images/fancybox/fancybox.png');
background-position:-40px -182px;
}
#fancybox-bg-s {
bottom:-20px;
left:0;
width:100%;
background-image:url('/web/images/fancybox/fancybox-x.png');
background-position:0px -20px;
}
#fancybox-bg-sw {
bottom:-20px;
left:-20px;
background-image:url('/web/images/fancybox/fancybox.png');
background-position:-40px -142px;
}
#fancybox-bg-w {
top:0;
left:-20px;
height:100%;
background-image:url('/web/images/fancybox/fancybox-y.png');
}
#fancybox-bg-nw {
top:-20px;
left:-20px;
background-image:url('/web/images/fancybox/fancybox.png');
background-position:-40px -122px;
}
#fancybox-title {
font-family:Helvetica;
font-size:12px;
z-index:1102;
}
.fancybox-title-inside {
padding-bottom:10px;
text-align:center;
color:#333;
background:#fff;
position:relative;
}
.fancybox-title-outside {
padding-top:10px;
color:#fff;
}
.fancybox-title-over {
position:absolute;
bottom:0;
left:0;
color:#FFF;
text-align:left;
}
#fancybox-title-over {
padding:10px;
background-image:url('/web/images/fancybox/fancy_title_over.png');
display:block;
}
.fancybox-title-float {
position:absolute;
left:0;
bottom:-20px;
height:32px;
}
#fancybox-title-float-wrap {
border:none;
border-collapse:collapse;
width:auto;
}
#fancybox-title-float-wrap td {
border:none;
white-space:nowrap;
}
#fancybox-title-float-left {
padding:0 0 0 15px;
background:url('/web/images/fancybox/fancybox.png') -40px -90px no-repeat;
}
#fancybox-title-float-main {
color:#FFF;
line-height:29px;
font-weight:bold;
padding:0 0 3px 0;
background:url('/web/images/fancybox/fancybox-x.png') 0px -40px;
}
#fancybox-title-float-right {
padding:0 0 0 15px;
background:url('/web/images/fancybox/fancybox.png') -55px -90px no-repeat;
}
.fancybox-ie6 #fancybox-close {background:transparent;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/web/images/fancybox/fancy_close.png', sizingMethod='scale');}
.fancybox-ie6 #fancybox-left-ico {background:transparent;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/web/images/fancybox/fancy_nav_left.png', sizingMethod='scale');}
.fancybox-ie6 #fancybox-right-ico {background:transparent;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/web/images/fancybox/fancy_nav_right.png', sizingMethod='scale');}
.fancybox-ie6 #fancybox-title-over {background:transparent;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/web/images/fancybox/fancy_title_over.png', sizingMethod='scale');zoom:1;}
.fancybox-ie6 #fancybox-title-float-left {background:transparent;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/web/images/fancybox/fancy_title_left.png', sizingMethod='scale');}
.fancybox-ie6 #fancybox-title-float-main {background:transparent;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/web/images/fancybox/fancy_title_main.png', sizingMethod='scale');}
.fancybox-ie6 #fancybox-title-float-right {background:transparent;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/web/images/fancybox/fancy_title_right.png', sizingMethod='scale');}
.fancybox-ie6 #fancybox-bg-w, .fancybox-ie6 #fancybox-bg-e, .fancybox-ie6 #fancybox-left, .fancybox-ie6 #fancybox-right, #fancybox-hide-sel-frame {
height:expression(this.parentNode.clientHeight + "px");
}
#fancybox-loading.fancybox-ie6 {
position:absolute;margin-top:0;
top:expression( (-20 + (document.documentElement.clientHeight ? document.documentElement.clientHeight/2 :document.body.clientHeight/2 ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop :document.body.scrollTop )) + 'px');
}
#fancybox-loading.fancybox-ie6 div	{background:transparent;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/web/images/fancybox/fancy_loading.png', sizingMethod='scale');}
.fancybox-ie .fancybox-bg {background:transparent !important;}
.fancybox-ie #fancybox-bg-n {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/web/images/fancybox/fancy_shadow_n.png', sizingMethod='scale');}
.fancybox-ie #fancybox-bg-ne {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/web/images/fancybox/fancy_shadow_ne.png', sizingMethod='scale');}
.fancybox-ie #fancybox-bg-e {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/web/images/fancybox/fancy_shadow_e.png', sizingMethod='scale');}
.fancybox-ie #fancybox-bg-se {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/web/images/fancybox/fancy_shadow_se.png', sizingMethod='scale');}
.fancybox-ie #fancybox-bg-s {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/web/images/fancybox/fancy_shadow_s.png', sizingMethod='scale');}
.fancybox-ie #fancybox-bg-sw {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/web/images/fancybox/fancy_shadow_sw.png', sizingMethod='scale');}
.fancybox-ie #fancybox-bg-w {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/web/images/fancybox/fancy_shadow_w.png', sizingMethod='scale');}
.fancybox-ie #fancybox-bg-nw {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/web/images/fancybox/fancy_shadow_nw.png', sizingMethod='scale');}
div.rating-cancel,div.star-rating{float:left;width:24px;height:25px;text-indent:-999em;cursor:pointer;display:block;background:transparent;overflow:hidden}
div.rating-cancel,div.rating-cancel a{background:url("/web/images/delete.gif") no-repeat 0 -16px;}
div.star-rating,div.star-rating a{background:url("/web/images/star_2.png") no-repeat 0 0px;}
div.rating-cancel a,div.star-rating a{display:block;width:24px;height:100%;background-position:0 0px;border:0}
div.star-rating-on a{background-position:0 -25px!important}
div.star-rating-hover a{background-position:0 -50px}
div.star-rating-readonly a{cursor:default !important}
div.star-rating{background:transparent!important;overflow:hidden!important}
body {/*background:url("/web/images/body_back.png") repeat;*/ font-family:'PT Sans', sans-serif, Myriad Pro, Open Sans, Tahoma, arial, Calibri, Verdana;color:#343434;font-size:13px;text-rendering:optimizeLegibility;-webkit-font-smoothing:antialiased;}
a {text-decoration:none;color:#097392;line-height:14px;}
a:hover {text-decoration:underline;color:#097392;/*E86720*/}
p {margin:14px 0px;line-height:16px;}
.cp {cursor:pointer;}
.kick-it {height:20px;}
.kick-it-2 {height:15px;}
.scrollup {background:url("/web/images/icon_top.png") no-repeat;width:40px;height:40px;position:fixed;bottom:50px;right:50px;display:none;text-indent:-9999px;}
.page404 .box-404 {width:506px;border:1px solid #ccc;padding:10px;margin:20px auto 0px;padding-top:0px;font-size:14px;line-height:16px;}
.page404 .box-404 ul {margin:0px;padding:0px;list-style:square;line-height:18px;margin-left:20px;}
.page404 .box-404 a {color:#8d8d8d;}
.page404 .table-404 {width:100%;margin-top:40px;}
.page404 .table-404 td {padding:5px;}
.page404 .table-404 td.not-found {font-weight:bold;font-size:16px;}
.wrap {margin:0px auto;width:100%;max-width:1000px;}
#wrapper {height:100%;}
#main {min-height:100%;}
#center {margin-top:20px;}
.push-box {height:130px;}
.left-part {margin-right:32%;}
.right-part {width:30%;float:right;}
.h-table {width:100%;border-bottom:2px solid #ececec;padding-bottom:10px;}
.h-table h1 {font-size:22px;line-height:22px;margin:0px;padding:0px;font-weight:normal;color:#343434;}
.flash .close {position:absolute;top:12px;right:6px;width:10px;height:10px;cursor:pointer;background:url("/web/images/msg_close.png") no-repeat;}
.flash .close:hover {background:url("/web/images/msg_close_hover.png") no-repeat;}
#header .i-header-1 .banner-top {/*width:728px;*/ height:90px;margin:21px auto;text-align:center;}
#header .i-header-1 .banner-top div {margin:0px auto;}
#header .i-header-1 table {width:100%;text-align:center;vertical-align:middle;}
#header .i-header-1 table td {height:132px;}
#header .i-header-2 {/*background:url("/web/images/header_back.png") repeat-x;*/ height:124px;background-color:#e8e3e0;position:relative;z-index:2;
-webkit-box-shadow:0px 1px 2px 0px #ADA099;
box-shadow:0px 1px 2px 0px #ADA099;
}
#header .search {margin-top:14px;height:35px;}
.header-table {width:100%;}
.header-table .td-def {height:124px;}
.header-table .td-1 {width:27.5%;}
.header-table .td-3 {width:20.5%;text-align:right;}
.header-table .td-3 .h-but {margin:7px 0px;}
.logo {background:url("/web/images/logo.png") no-repeat;width:77px;height:96px;display:block;text-indent:-99999px;font-size:0px;line-height:0px;float:left;}
.slogan {font-size:13px;color:#343434;margin:0px;padding:0px;display:inline-block;float:left;margin-left:10px;margin-top:6px;font-weight:normal;line-height:16px;}
.slogan-2 {background:url("/web/images/slogan.png") no-repeat;width:190px;height:51px;display:block;position:relative;}
.logo-2 {background:url("/web/images/logo_2.png") no-repeat;width:65px;height:81px;display:block;text-indent:-99999px;font-size:0px;line-height:0px;float:left;position:absolute;top:-16px;left:-73px;}
.logo-3 {background:url("/web/images/logo_3.png") no-repeat;width:77px;height:96px;display:block;text-indent:-99999px;font-size:0px;line-height:0px;float:left;margin-top:15px;}
.slogan-3 {width:55.882352%;text-align:center;font-size:14px;line-height:18px;font-size:14px;float:left;margin-top:34px;margin-left:9.41176%;} 
#center {font-family:Trebuchet MS;}
.menu {margin:0px;padding:0px;list-style:none;float:left;margin-top:10px;margin-left:1px;position:relative;right:-50%;float:none!important;float:left;}
.menu li {float:left;position:relative;}
.menu li a {background-color:#4985c2;display:inline-block;height:40px;line-height:40px;color:#fff;text-decoration:none; font-weight:bold;font-size:14px;padding:0px 24px;
-webkit-box-shadow:0px 1px 1px 0px #333;
box-shadow:0px 1px 1px 0px #333;
}
.menu li a:hover {background:#5398dd;}
.menu li.active a {background:#316499;}
.menu li.middle {margin:0px 2px;}
.home-1 {height:325px;position:relative;z-index:1;}
.home-slogan {font-size:30px;line-height:34px;margin:0px;padding:0px;text-align:center;background:url("/web/images/transparent.png") repeat;display:inline-block;padding:15px;font-weight:normal;color:#343434;}
.home-table {width:100%;height:325px;}
.home-table td {vertical-align:middle;text-align:center;}
.home-row {padding:45px 0px;}
.home-row.grey {background-color:#eee;}
.home-row table {width:100%;}
.home-row table .td-2 {padding-right:15%;padding-left:5%;}
.home-row table .td-2 p {font-size:16px;line-height:22px;}
.table-header-2 {width:100%;}
.table-header-2 td {width:50%;}
.table-header-3 {width:100%;}
.table-header-3 td {height:124px;text-align:center;}
.table-header-3 td .hello {font-size:14px;color:#777;margin:5px 0px;}
.table-header-3 td .hello .name {color:#5dba5d;}
.table-header-3 td .hello a, .table-header-3 td .hello .slash {font-size:12px;}
.table-header-3 td .attention {margin:5px 0px;color:red;cursor:pointer;}
.devider-h {height:10px;}
.mobile-menu-row {display:none;float:right;margin-top:9px;}
.mobile-menu-row .mob-link {width:30px;height:30px;background-color:#ccc;display:inline-block;margin-left:5px;text-indent:-99999px;font-size:0px;line-height:50px;border:1px solid #b1ab99;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;cursor:pointer;text-decoration:none;}
.mobile-menu-row .mob-link.a {background:url("/web/images/m_icon_4.png") no-repeat;}
.mobile-menu-row .mob-link.b {background:url("/web/images/m_icon_2.png") no-repeat;}
.mobile-menu-row .mob-link.c {background:url("/web/images/m_icon_3.png") no-repeat;}
.mobile-menu-row .mob-link.c.active {background:url("/web/images/m_icon_3_active.png") no-repeat;border:1px solid #ea6c20;}
.mobile-logo {background:url("/web/images/logo_mobile.png") no-repeat;width:80px;height:40px;float:left;text-indent:-99999px;font-size:0px;line-height:0px;margin-top:5px;display:none;}
.mobile-menu-row {display:none;}
.mobile-menu-row-2 {display:none;}
.menu-list-2 {margin:0px;padding:0px;list-style:none;position:absolute;top:50px;left:0px;width:100%;z-index:9;}
.menu-list-2 li {border-bottom:1px solid #ccc;}
.menu-list-2 li a {background-color:#fff;color:#8b8b8b;display:block;padding:10px 1%;text-decoration:none;font-size:16px;}
.menu-list-2 li a:hover, .menu-list-2 li.active a {background-color:#eee;/*-webkit-box-shadow:0px 0px 5px 0px #399239 inset;box-shadow:0px 0px 5px 0px #399239 inset;*/}
.menu-list-2 li.e span {background-color:#ee801e;color:#fff;cursor:pointer;display:block;padding:10px 1%;text-decoration:none;font-size:16px;}
.menu-list-2 li.f span {background-color:#4985C2;color:#fff;cursor:pointer;display:block;padding:10px 1%;text-decoration:none;font-size:16px;}
.menu-list-2 li.e span:hover {background-color:#d46603;}
.menu-list-2 li.f span:hover {background-color:#386ca1;}
#footer {height:105px;position:relative;margin-top:-105px;background-color:#e9e9e9;}
.footer-table {width:100%;}
.footer-table td {height:105px;}
.footer-table .td-1, .footer-table .td-3 {width:20%;}
.footer-table .slash {margin:0px 5px 0px 10px;}
.def-box {border:1px solid #e4e2e2;position:relative;background-color:#fff;}
.def-box.pad-box {padding:3%;}
.def-box.pad-box-2 {padding:2.5%;}
.def-box .box-shadow {background:url("/web/images/shadow_1.png") no-repeat;width:230px;height:5px;position:absolute;bottom:-5px;left:50%;margin-left:-115px;}
.def-box .in {padding:3%;}
.def-box .def-header {background-color:#dfd7d2;border:1px solid #dfd7d2;margin:5px -4px 0px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;text-align:center;}
.def-box .def-header table {width:100%;}
.def-box .def-header table td {height:43px;padding:7px 10px;}
.def-box .def-header .h-text {font-weight:bold;font-size:14px;}
.def-box .hint {font-size:11px;color:#999;line-height:12px;width:80%;text-align:center;margin:12px auto;}
.left-part .def-box {/*background-color:#fbfbfb;*/ background-color:#fff;border:0;padding:0;}
.def-list {margin:0px;padding:0px;list-style:none;}
.def-list li {margin:15px 0px;}
.def-list li .inf {font-size:12px;color:#999;margin:5px 0px 0px;}
.breadcrumbs {margin-bottom:15px;line-height:16px;}
.breadcrumbs .slash {color:#685344;margin:0px 3px;}
.breadcrumbs .crumb.active {color:#343434;}
.view-item .item-theme {font-size:24px;color:#343434;margin:0px;padding:0px;font-weight:normal;line-height:28px;font-family:Trebuchet MS;color:#343434;}
.view-item .html-content {font-size:14px;overflow:hidden;}
.view-item .html-content div p, .view-item .html-content div ul, .view-item .html-content div ol, .view-item .html-content div table {margin-left:0;margin-right:0;font-family:Trebuchet MS;}
.view-item .html-content p, .view-item .html-content ul, .view-item .html-content ol, .view-item .html-content table, .view-item .html-content div {margin-right:3%;font-family:Trebuchet MS;text-align:justify;}
.view-item .html-content .title-to-top {font-size:18px;color:#343434;line-height:20px;font-weight:normal;position:relative;clear:both;}
.view-item .html-content .cont-small-box {margin:15px 0px 25px;}
.view-item .html-content .cont-small-box h3 {font-size:16px;margin:0px 0px 5px;}
.view-item .html-content .cont-small-box h3 .close {color:#2b89b4;font-size:11px;cursor:pointer;}
.view-item .html-content .cont-small-box h3 .close:hover {color:#E86720;}
.view-item .html-content .cont-small-box .link {background:url("/web/images/trangle_icon.png") no-repeat 0px 6px;display:block;font-size:13px;padding-left:10px;text-decoration:none;line-height:20px;}
.view-item .html-content .cont-small-box .link span {border-bottom:1px dashed #2b89b4;}
.view-item .html-content .cont-small-box .link:hover span {border-bottom:1px dashed #E86720;color:#E86720;}
.view-item .html-content .cont-small-box .sub-link {margin-left:11px;}
.view-item .html-content .cont-small-box .c-box {margin-left:11%;margin-right:3%;}
.view-item .author-wrap {margin-bottom:0px;}
.view-item .author-wrap i {color:#777;}
.view-item .author-wrap-qa {margin:5px 0px 0px;}
.view-item .date {margin-bottom:0px;margin-top:5px;color:#777777;font-size:12px;}
.register-big-box .title {font-size:18px;font-weight:normal;margin:0px;padding:0px;}
.register-big-box .in h3 {font-size:16px;color:#343434;font-weight:normal;margin:0px 0px 20px;padding:0px;}
.register-big-box .small {font-size:12px;margin-bottom:0px;color:#777;margin-top:10px;}
.register-big-box input.text {height:36px;border:1px solid #ccc;margin:0px;padding:0px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;font-size:16px;text-indent:10px;-webkit-box-shadow:0px 0px 10px 0px #d4d3d3 inset;box-shadow:0px 0px 10px 0px #d4d3d3 inset;width:50%;margin-right:1%;float:left;line-height:36px;}
.register-big-box input.text.error {border:1px solid red;}
.register-big-box label.error {position:absolute;bottom:-20px;left:0px;font-size:10px;width:180px;height:17px;display:block;color:red;}
.register-big-box .list {margin:0px;padding:0px;list-style:none;margin-bottom:20px;}
.register-big-box .list li {font-size:14px;margin-bottom:4px;color:#343434;}
.plus-box {background-color:#F9F3EE;padding:15px 0px;}
.plus-box blockquote {margin:0px;}
.plus-box blockquote ul {margin:0px;}
.plus-box table {width:100%;}
.plus-box table .td-2 {width:30%;text-align:center;border-left:2px solid #e4ddd8;}
.plus-box .mobile-add-q {display:none;}
.html-content .title-to-top-2 {font-size:18px;color:#343434;line-height:18px;font-weight:normal;position:relative;background:url("/web/images/title_strip.png") repeat-x 0px 11px;clear:both;}
.html-content .title-to-top-2 .t-1 {background-color:#fff;padding-right:5px;}
.category-list {margin:0px;padding:0px;list-style:none;}
.category-list li {float:left;margin-bottom:1.5%;}
.category-list li.last {margin-right:0px;}
.category-list .li-2 {width:23.75%;text-align:center;min-height:190px;margin-right:1.5%;}
.category-list .li-2 .a-1 {border:10px solid #f9f3ee;display:block;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.category-list .li-2 .a-1:hover {text-decoration:none;border:10px solid #ff9c65;}
.category-list .li-2 .a-1:hover .t-1 {background-color:#3197c1;color:#fff;font-size:13px;font-weight:bold;}
.category-list .li-2 .t-1 {width:100%;background-color:#fff;}
.category-list .li-2 .t-1 td {vertical-align:middle;text-align:center;height:133px;}
.category-list .li-2 .t-1 .tr-2 {display:none;text-align:center;}
.category-list .li-2 .t-1 .tr-2 .in {padding:5%;font-size:13px;font-weight:bold;}
.category-list .li-2 .a-2 {margin-top:5px;line-height:16px;display:inline-block;}
.category-list .li-1 .a-1 {text-decoration:none;}
.category-list .li-1 .a-1:hover .t-1 {background-color:#fff;}
.category-list .li-1 {width:49%;min-height:165px;}
.category-list .li-1 .name {display:block;margin:5px 0px;text-align:center;}
.category-list .li-1 .t-1 td {vertical-align:middle;text-align:center;height:143px;}
.category-list .li-1 .t-1 .tr-2 td {vertical-align:top;}
.category-list .li-1 .t-1 .tr-2 .name {color:#343434;background-color:#dfd7d2;display:block;padding:10px 0px;text-decoration:none;margin:0px;}
.category-list .li-1 .t-1 .tr-2 a {display:block;width:48%;float:left;margin-top:10px;}
.category-box-1 {padding-bottom:5px;border-bottom:2px solid #ddd;}
.category-box-1 .item-theme {font-weight:normal;margin:0px;padding:0px;list-style:none;color:#343434;font-size:22px;}
.category-qa-list {margin:0px;padding:0px;list-style:none;}
.category-qa-list li {margin:25px 0px;}
.category-qa-list li .l-p {width:19.35%;float:left;}
.category-qa-list li .r-p {margin-left:22.5%;}
.category-qa-list li .name {font-size:18px;margin-bottom:14px;display:inline-block;line-height:22px;text-decoration:underline;}
.category-qa-list li .name:hover {color:#E86720;}
.category-qa-list li .com-box {background-color:#f9f3ee;text-align:center;-webkit-box-shadow:0px 0px 2px 0px #ad8a6d;box-shadow:0px 0px 2px 0px #ad8a6d;padding:10px 0px;line-height:30px;}
.category-qa-list li .com-box span {display:block;}
.category-qa-list li .com-box .s1 {font-size:24px;font-weight:bold;color:#f17812;}
.category-qa-list li .com-box .s2 {font-size:14px;color:#343434;}
.category-qa-list li .com-box-2 {font-size:12px;color:#777;margin-bottom:10px;display:none;}
.category-qa-list li .com-box-2 .s1 {font-weight:bold;color:#f17812;}
.category-qa-list li .desc {margin:0px;font-size:14px;line-height:20px;color:#343434;overflow:hidden;}
.category-qa-list li .author {font-size:11px;font-style:italic;color:#656565;margin-top:10px;}
.art-list {margin:0px;padding:0px;list-style:none;}
.art-list li {margin:35px 0px 40px;}
.art-list li.last {border-bottom:0px;}
.art-list li .title {margin:0px;}
.art-list li .title a {font-size:18px;line-height:20px;text-decoration:underline;}
.art-list li .title a:hover {color:#E86720;}
.art-list li .desc {width:100%;vertical-align:top;margin-top:10px;}
.art-list li .desc td {vertical-align:top;}
.art-list li .desc .td-1 {padding-right:15px;width:200px;text-align:center;vertical-align:middle;}
.art-list li .desc .td-2 p {font-size:14px;line-height:20px;margin:0px;color:#343434;}
.art-list li .desc .read-more {display:inline-block;float:right;}
.art-list li .i-row {margin-top:10px;font-size:12px;color:#989898;line-height:14px;}
.art-list li .i-row .comment {background:url("/web/images/quote_icon.png") no-repeat;padding-left:20px;margin-left:5px;}
.art-list li .i-row .cycles {margin-left:10px;}
.cycle-list {margin:0px;padding:0px;list-style:none;}
.cycle-list li {margin:20px 0;}
.cycle-list li.last {border-bottom:0px;}
.cycle-list li .title {margin:0px;}
.cycle-list li .title a {font-size:18px;line-height:20px;}
.cycle-list li .desc {font-size:14px;line-height:20px;margin:0px;color:#343434;margin-top:10px;}
.ajax-dialog {padding:0px;margin-left:-310px!important;width:620px;border:3px solid #c0b9b4;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;}
.ajax-dialog.вход {width:380px;margin-left:-190px!important;}
.ajax-dialog .ajax-content {padding:15px 20px;color:#777;}
.ajax-dialog .close-ajaxp-modal {background:url("/web/images/close_icon.png") no-repeat;width:21px;height:21px;display:inline-block;top:17px;right:20px;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity:0.5;opacity:0.5;}
.ajax-dialog .close-ajaxp-modal:hover {filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);-moz-opacity:1;-khtml-opacity:1;opacity:1;}
.ajax-dialog .ajaxp-preloader {margin-top:35px;}
.popup-form .title {font-size:22px;line-height:22px;color:#76685d;padding:0px;padding-bottom:12px;font-weight:normal;border-bottom:2px solid #b5afab;margin:0px;}
.popup-form .col-wrap {margin-top:15px;}
.popup-form .input-row {position:relative;}
.popup-form .input-row label {color:#bababa;font-size:16px;display:block;margin-bottom:8px;}
.popup-form .input-row .text {height:30px;border:1px solid #ccc;margin:0px;padding:0px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;font-size:14px;text-indent:10px;-webkit-box-shadow:0px 0px 10px 0px #d4d3d3 inset;box-shadow:0px 0px 10px 0px #d4d3d3 inset;width:99.5%;line-height:36px;}
.popup-form .input-row label.error {position:absolute;right:0px;color:red;top:-13px;font-size:11px;}
.popup-form .input-row input.error {border:1px solid red;}
.popup-form .def-p {font-size:15px;color:#777;}
.popup-form .flash {margin-top:15px;}
.popup-register .input-row {margin:10px 0px;}
.popup-register .register-table {width:100%;margin-top:15px;}
.popup-register .register-table .td-1 {padding-right:20px;}
.popup-register .register-table .td-2 {border-left:1px solid #ccc;padding-left:20px;width:45%;vertical-align:top;}
.popup-register .input-row input.text {width:99.5%;}
.popup-register .small {font-size:11px;margin-bottom:0px;text-align:right;}
.popup-register .input-row label.error {right:0px;top:11px;}
.popup-register h2 {margin:10px 0px 20px;padding:0px;font-size:17px;font-weight:normal;color:#464646;}
.popup-register .html-content ul {margin:0px;margin-bottom:10px;}
.popup-register .html-content ul li {background:url("/web/images/checkbox_icon.png") no-repeat 0px 2px;font-size:14px;padding-left:35px;line-height:14px;margin-bottom:16px;}
.popup-login .input-row {margin:10px 0px;}
.popup-login .input-row label.error {top:10px;}
.popup-login .action-table {width:100%;}
.popup-login .action-table .td-1 p {margin:3px 0px;font-size:12px;}
.popup-login .action-table .td-2 {width:1%;}
.popup-login .captcha-row img {display:inline-block;float:left;}
.popup-login .captcha-row input {height:28px;border:1px solid #ccc;margin-left:10px;padding:0px;color:#2B89B4;width:100px;text-align:center;}
.popup-login .action-table .remember {font-size:12px;cursor:pointer;}
.popup-forgot-pass .input-row input.text {width:77%;margin-right:1%;}
.popup-forgot-pass .input-row label.error {right:23%;}
.comment-box {margin-top:25px;overflow:hidden;}
.comment-box .flash {margin-top:15px;}
.comment-list {margin:0px;padding:0px;list-style:none;margin-top:25px;}
.comment-list li.item {margin-bottom:25px;position:relative;}
.comment-list li.item table {width:100%;}
.comment-list li.item table td {vertical-align:top;} 
.comment-list li.item table .td-1 {width:1%;text-align:center;}
.comment-list li.item table .td-2 {padding-left:2%;}
.comment-list li.item .ava {border:3px solid #e9e9e9;}
.comment-list li.item .date {color:#a2a2a2;font-size:10px;}
.comment-list li.item .name {color:#5dba5d;font-size:15px;}
.comment-list li.item .expert-name {color:#F0861E;font-size:15px;}
.comment-list li.item .expert-name .status {font-size:12px;}
.comment-list li.item .text {color:#343434;font-size:14px;line-height:16px;margin:8px 0px;font-family:Trebuchet MS;}
.comment-list li.item .text p {margin:0px;text-align:justify;}
.comment-list li.item .answer {background:url("/web/images/quote_icon.png") no-repeat 0px 2px;padding-left:22px;font-size:12px;padding-bottom:2px;cursor:pointer;text-decoration:none;color:#2B89B4;}
.comment-list li.item .answer:hover {text-decoration:underline;}
.comment-list li.item .att-files {margin:0px;padding:0px;list-style:none;}
.comment-list li.item .att-files li {padding:0px;background:none;}
.comment-list li.item .att-files li .img-box table {margin:0px;border:0px;}
.comment-list li.item .att-files li .img-box table td {border:0px;padding:0px;vertical-align:middle;}
.comment-form {padding:0px;list-style:none;margin:0px;}
.comment-list .first {background:url("/web/images/v_icon.png") no-repeat;position:absolute;width:32px;height:37px;left:3%;top:-12px;display:none;}
.add-comment-button {margin-top:20px;}
.alphabet-list {margin:0px;list-style:none;padding:0px;float:left;margin-top:20px;width:96%;padding:2%;background:#f5f5f5;}
.alphabet-list li {float:left;margin-right:9px;}
.alphabet-list li a, .alphabet-list li span {text-transform:uppercase;font-size:16px;}
.alphabet-list a.active {color:#E86720;text-decoration:none;}
.alphabet-list a.empty {color:#c0c0c0;text-decoration:none;}
.doc-terms-list {margin:0px;padding:0px;list-style:none;margin-top:20px;}
.doc-terms-list li {border-bottom:1px solid #ddd;padding-bottom:10px;margin-bottom:20px;}
.doc-terms-list li .name {font-size:16px;margin:0px;font-weight:bold;}
.doc-terms-list li .html-content {}
.doc-terms-list li .download {color:#666;margin:5px 0px 10px;}
.pager-wrap {height:25px;}
.pagination {position:relative;}
.pagination ul {margin:0px;padding:0px;list-style:none;height:24px;position:relative;color:#993f3e;float:right;right:-50%;}
.pagination ul li {float:left;margin:0px 2px;}
.pagination ul li a,
.pagination ul li span {display:block;color:#097392;text-decoration:none;font-weight:bold;padding:6px 0px;font-size:14px;text-align:center;width:24px;}
.pagination ul li.selected span {color:#fff;background-color:#4985C2;}
.pagination ul li .dotted {display:block;color:#5a5858;}
.pagination ul li.pages a,
.pagination ul li.pages span {background-color:#f8f8f8;display:block;padding:5px 7px 4px;color:#4e4f50;text-decoration:none;}
.pagination ul li a:hover {color:#EF750E;text-decoration:none;}
.att-files {margin:0px;padding:0px;list-style:none;float:left;}
.att-files li {float:left;margin-right:10px;margin-bottom:10px;}
.att-files li .img-box {width:100px;height:100px;overflow:hidden;border:3px solid #eee;}
.att-files li .img-box table {width:100%;}
.att-files li .img-box td {height:100px;}
.att-files li .name-box {text-align:center;margin-top:3px;height:18px;overflow:hidden;width:100px;}
.att-files li .name-box a {font-size:11px;}
.att-files li .f-img {width:100px;}
.add-question-box .title {color:#bababa;font-size:16px;display:block;margin-bottom:4px;}
.add-question-box .title .error {float:right;color:red;font-size:12px;}
.add-question-box .input-row-email {width:237px;}
.add-question-box .input-row input {border:1px solid #CCCCCC;box-shadow:0 0 10px 0 #D4D3D3 inset;font-size:14px;height:32px;line-height:32px;margin:0;padding:0;text-indent:10px;width:97%;}
.add-question-box .input-row label {color:#333;display:block;margin-bottom:4px; font-size:14px;}
.add-question-box .input-row label.error {position:absolute;top:-4px;right:2px;font-size:10px;background:url("/web/images/attention_icon.png") no-repeat;width:20px;height:17px;display:block;text-indent:-999999px;}
.add-question-box .input-row input.error {border:1px solid red;}
.add-question-box .input-row .description {color:#AFAFAF;font-size:11px;margin:0;}
.add-question-box .theme-row {margin-bottom:15px;}
.add-question-box .theme-row label span {color:red;}
.add-question-box .theme-row input {width:99.5%;}
.add-question-box .orange-but {margin-top:20px;}
.add-question-box .action-table {margin-top:10px;}
.add-question-box label.title {color:#333;font-size:14px;}
.add-question-box .cancel {text-decoration:underline;color:#2b89b4;cursor:pointer;}
.private-menu-box {background-color:#fcfafa;border:1px solid #f7f6f6;padding:1.2%;margin-bottom:20px;}
.private-menu {margin:0px;padding:0px;list-style:none;float:left;}
.private-menu li {float:left;margin-right:10px;}
.private-menu li a {padding:6px;display:inline-block;background-color:#eee;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;font-size:13px;text-decoration:none;}
.private-menu li.active a {background-color:#5db95d;color:#fff;}
.prof-def-box {border:1px solid #ccc;width:48.5%;float:left;margin-bottom:20px;}
.prof-def-box.last {float:right;}
.prof-def-box.one-right {min-height:10px !important;width:35%;}
.prof-def-box.one-left {min-height:10px !important;width:62%;}
.prof-def-box.one-left .t-head td, .prof-def-box.one-right .t-head td {padding:9px;}
.prof-def-box .t-head {width:100%;border-bottom:3px solid #e96a20;}
.prof-def-box .t-head td {padding:2%;background-color:#eee;}
.prof-def-box .t-head td .name {margin:0px;padding:0px;color:#777;font-weight:normal;font-size:18px;}
.prof-def-box .middle {padding:1% 2%;min-height:310px;}
.prof-def-box.one .middle {min-height:215px;}
.prof-def-box.one .middle-2 {min-height:315px;}
.prof-def-box.one .middle-3 {min-height:200px;}
.prof-def-box.one .middle-4 {min-height:195px;}
.prof-def-box.one .ava-t {width:100%;margin-top:15px;}
.prof-def-box.one .ava-t td {background:#f4f4f4;padding:10px;}
.prof-def-box.one .ava-t .td-1 {width:40px;}
.prof-def-box.one .ava-t .td-2 {padding-left:10px;}
.prof-def-box.one .ava-t .edit-l {border-bottom:1px dashed #097392;text-decoration:none;font-size:16px;}
.prof-def-box.one .ava-t .edit-l:hover {border-bottom:1px dashed #fe8e30;color:#fe8e30;}
.prof-def-box.one .div-fieldset {background:#f4f4f4;padding:0px 10px;color:#777;padding-bottom:10px;}
.prof-def-box.one .div-fieldset .titl {margin-top:0px;}
.prof-def-box.one .div-fieldset .in {border:1px dotted #ccc;padding:10px;background:#fff;}
.prof-def-box.one .div-fieldset .d-table {width:100%;}
.prof-def-box.one .div-fieldset .d-table td {padding:10px 0px;}
.prof-def-box.one .subscr-wrap .check-table {margin-top:15px;}
.prof-def-box.one .subscr-wrap .check-table td {padding-bottom:10px;}
.prof-def-box.two .middle {min-height:280px;}
.prof-def-box .middle .html-content ul li {background:url("/web/images/checkbox_icon.png") no-repeat 0px 0px;padding-left:25px;color:#777;line-height:20px;}
.prof-def-box .middle .html-content p {line-height:18px;}
.prof-def-box .bottom {padding-bottom:2%;min-height:31px;}
.prof-def-box.one-right .pay-a {margin:10px 0px;}
.prof-def-box.one-right .pay-a .price-check {margin:5px;}
.prof-def-box.one-right .pay-a .price-check .i-label {font-size:11px;margin-left:6px;}
.private-def-box .title {font-weight:normal;padding-bottom:3px;}
.private-def-box .no-data {background-color:#FCFAFA;border:1px solid #F7F6F6;padding:10px;color:#666;text-align:center;font-size:16px;}
.private-def-box .qa-list li {border-bottom:1px solid #eee;margin-bottom:20px;padding-bottom:10px;}
.private-def-box .qa-list li .date {background-color:#eee;color:#8b8b8b;padding:2px 4px;display:inline-block;}
.private-def-box .subscriptions {width:100%;}
.private-def-box .subscriptions td {padding:10px;}
.prof-def-box .input-row {margin:15px 0px;position:relative;}
.prof-def-box .input-row label {font-size:13px;color:#999;display:block;margin-bottom:2px;}
.prof-def-box .input-row .text {border:1px solid #dbdbdb;padding:0px;width:100%;height:20px;line-height:20px;text-indent:5px;color:#777;}
.prof-def-box .input-row select {width:100%;color:#777;}
.prof-def-box .input-row .text.error, .prof-def-box .input-row select.error {border:1px solid red;}
.prof-def-box .input-row label.error {position:absolute;top:-4px;right:0px;font-size:10px;background:url("/web/images/attention_icon.png") no-repeat;width:20px;height:17px;display:block;text-indent:-999999px;}
.prof-def-box .input-row .example {margin:5px 0px 0px;font-size:11px;color:#777;line-height:13px;}
.prof-def-box.min-box {min-height:280px;}
.prof-def-info {border:1px solid #ccc;padding:1%;}
.prof-def-info .html-content p {margin:0px;font-size:14px;line-height:20px;color:#777;}
.prof-def-info .check-table {width:100%;margin:10px 0px 15px;}
.prof-def-info .check-table td {width:50%;padding:5px 0px;color:#777;}
.prof-def-info .check-table .checkbox {margin-top:1px;/*margin-bottom:2px;*/}
.prof-def-info .check-table .ez-checkbox {height:17px;}
.prof-def-info .input-row {position:relative;}
.prof-def-info .input-row label.error {position:absolute;top:-19px;right:35px;font-size:10px;background:url("/web/images/attention_icon.png") no-repeat;width:20px;height:17px;display:block;text-indent:-999999px;}
.prof-def-info .input-row select.error {border:1px solid red;}
.order-box {border:1px solid #ccc;padding:15px;}
.order-box h3 {font-size:20px;color:#777;font-weight:normal;margin:0px;}
.order-box .input-row {margin:15px 0px;position:relative;}
.order-box .input-row label {font-size:13px;color:#999;display:block;margin-bottom:2px;}
.order-box .input-row label .arr {color:red;margin-left:5px;font-size:14px;}
.order-box .input-row .text {border:1px solid #dbdbdb;padding:0px;width:100%;height:20px;line-height:20px;text-indent:5px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-box-shadow:0px 0px 4px 0px #ccc inset;box-shadow:0px 0px 4px 0px #ccc inset;}
.order-box .input-row select {width:100%;color:#777;}
.order-box .input-row .text.error, .prof-def-box .input-row select.error {border:1px solid red;}
.order-box .input-row label.error {position:absolute;top:-4px;right:0px;font-size:10px;background:url("/web/images/attention_icon.png") no-repeat;width:20px;height:17px;display:block;text-indent:-999999px;}
.order-box .input-row .example {margin:5px 0px 0px;font-size:13px;color:#ccc;line-height:13px;}
.order-box .input-row .abs-right {position:absolute;top:0px;right:20px;}
.order-box .input-row textarea {border:1px solid #dbdbdb;padding:0px;width:100%;height:100px;line-height:20px;text-indent:5px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-box-shadow:0px 0px 4px 0px #ccc inset;box-shadow:0px 0px 4px 0px #ccc inset;}
.order-box .input-row textarea.error {border:1px solid red;}
.order-box .box {padding-bottom:5px;border-bottom:2px solid #eee;}
.order-box .box-1 {margin-bottom:20px;}
.order-box .row-1 {width:59%;float:left;margin-right:3%;margin-top:0px;}
.order-box .row-2 {width:15%;float:left;margin-right:3%;margin-top:0px;}
.order-box .row-3 {width:20%;float:left;margin-top:0px;}
.order-box .row-4 {width:40%;float:left;margin-top:0px;margin-right:3%;}
.order-box .row-5 {width:57%;float:left;margin-top:0px;}
.order-box .last-table {width:100%;}
.order-box .last-table .td-1 {font-size:12px;color:#777;line-height:14px;}
.order-box .last-table .td-2 {text-align:right;}
.aq-box .comment-list li.item {margin-right:3%;}
.aq-box .view-item .html-content :last-child {margin-bottom:0 !important;}
.contact-us-page {border:0px;padding:0px;margin-top:10px;}
.pay-a {margin:20px 0px;}
.pay-a .price-check {margin:0px 5px;display:inline-block;width:170px;}
.pay-a .price-check .i-label {margin-left:5px;-webkit-tap-highlight-color:transparent}
.pay-a .price-check .i-radio {margin:0px;display:inline-block;-webkit-tap-highlight-color:transparent;}
.subscriptions-table {width:100%;border-bottom:1px solid #eee;border-right:1px solid #eee;}
.subscriptions-table thead td {background-color:#eee;text-align:center;}
.subscriptions-table td {padding:10px;border-top:1px solid #eee;border-left:1px solid #eee;text-align:center;}
.share-form {position:fixed;bottom:-20%;width:100%;background:#c3bab4;}
.share-form span.close-handler {position:absolute;color:#fff; cursor:pointer;display:inline-block;top:50%;right:0px;background:url("/web/images/close_icon_m.png") no-repeat; width:8px;height:8px;margin-top:-4px;z-index:5px;}
.share-form table {width:100%;}
.share-form .td-1 {width:70%;}
.share-form .td-1 p {color:#fff;font-size:16px;font-weight:bold;}
.share-form .td-2 {/*padding-right:15px;*/}
.prod-list {margin:0px;padding:0px;list-style:none;}
.prod-list li {width:48.05194805%;float:left;border:2px solid #eee;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;margin-bottom:20px;}
.prod-list li.last {float:right;}
.prod-list li .in {padding:3%;padding-bottom:0;}
.prod-list li .img-box {float:left;width:33.8028169%;text-align:center;width:100%;min-height:373px;}
.prod-list li .img-box .link {-webkit-box-shadow:0px 0px 1px 0px #ccc;box-shadow:0px 0px 1px 0px #ccc;display:inline-block;position:relative;width:100%;overflow:hidden;min-height:354px;}
.prod-list li .img-box .link .sale {background-color:#5dba5d;color:#fff;position:absolute;bottom:10px;left:0px;padding:2px;}
.prod-list li .img-box .link img {/*border:1px solid #eee;*/}
.prod-list li .img-box .review-row {height:15px;}
.prod-list li .img-box .review {font-size:12px;}
.prod-list li .info {margin-left:38%;}
.prod-list li .info a {font-size:16px;line-height:17px;}
.prod-list li .info table {width:100%;margin:10px 0px;font-size:12px;color:#777;}
.prod-list li .info table .td-1 .code {background-color:#eee;padding:2px;}
.prod-list li .info table .td-2 {text-align:right;}
.prod-list li .info .desc {font-size:12px;color:#444;line-height:13px;margin:10px 0;}
.prod-list li .t-price {width:100%;padding:10px;background-color:#eee;margin:3px 0px 3%;color:#777;}
.prod-list li .t-price .td-1 {font-size:12px;line-height:14px;}
.prod-list li .t-price .td-1 b {font-size:13px;}
.prod-list li .t-price .td-2 {text-align:right;font-size:16px;height:30px;}
.prod-list li .t-price .real-price {color:#5dba5d;}
.prod-list li .t-price .old-price {text-decoration:line-through;}
.prod-list li .name-3 {font-size:16px;line-height:18px;display:inline-block;padding-left:7px;}
.prod-list li .bot-line {position:absolute;background-color:#fafafa;bottom:18px;left:0px;width:100%;z-index:10;padding:7px 0px;text-align:left;}
.prod-list-main li.huge {width:99.5%;}
.prod-list-main li.huge .in {padding:1.3% 1.3% 0;}
.prod-list-main li.huge .info {margin-left:36%;}
.prod-list-main li.huge .info .desc {font-size:16px;line-height:22px;}
.prod-list-main-3 li {width:31.5%;margin-right:2%;}
.prod-list-main-3 li.last {float:left;margin-right:0;}
.find-page .search {display:none;}
.stars-small {width:90px;height:16px;background:url("/web/images/stars_m.png") no-repeat;display:inline-block;}
.stars-small.s-0 {background-position:0px 0px;}
.stars-small.s-1 {background-position:0px -15px;}
.stars-small.s-2 {background-position:0px -33px;}
.stars-small.s-3 {background-position:0px -50px;}
.stars-small.s-4 {background-position:0px -66px;}
.stars-small.s-5 {background-position:0px -83px;}
@media screen and (max-width:1020px) {
.wrap {padding:0 1%;width:98%;}
.table-header-2 .td-1 {width:30%;}
.menu li a {padding:0px 20px;}
#header .search {width:310px;margin:0px auto;}
.logo-3 {background:url("/web/images/logo_4.png") no-repeat;width:55px;height:69px;margin-top:27px;}
.slogan-3 {font-size:13px;line-height:16px;margin-left:1.41176%;margin-top:30px;font-weight:normal;}
.slogan-3 br {display:none;}
.home-slogan br {display:none;}
.home-row {padding:25px 0px;}
.home-row table td img {width:100%;}
.home-row table .td-2 {padding-right:0;}
.home-row table .td-2 p {font-size:13px;line-height:18px;}
.adv-box img {width:100%;}
}
@media screen and (max-width:750px) {
#header .right-part {display:none;}
#header .left-part {display:none;}
.home-table, .home-1 {height:175px;}
.home-slogan {font-size:20px;line-height:24px;}
#header .i-header-2 {height:50px;}
.mobile-logo {display:block;}
.mobile-menu-row {display:block;}
.i-header-1 {display:none;}
#header .i-header-1 .banner-top img {width:100%;}
#footer {height:55px;margin-top:-55px;}
.footer-table .td-1 {width:100%;text-align:center;}
.footer-table .td-2, .footer-table .td-3 {display:none;}
.footer-table td {height:55px;}
#center .right-part {display:none;}
#center .left-part {margin-right:0;}
.category-list .li-2 {width:48.5%;}
.category-list .li-1 {width:100%;}
.art-list li .desc .td-1 {display:none;}
.pay-a .price-check {margin-bottom:5px;}
.pay-a .price-check .iradio_line-grey .icheck_line-icon {background:url("/web/images/line.png") no-repeat;}
.pay-a .price-check .iradio_line-grey.checked .icheck_line-icon {background:url("/web/images/line.png") no-repeat -15px 0px;}
.scrollup {right:10px;bottom:55px;}
.find-page .search {display:block;}
}
@media screen and (max-width:660px) {
.category-list .li-2 {width:100%;}
.plus-box .mobile-add-q {display:block;text-align:center;}
.plus-box table .td-2 {display:none;}
.ajax-dialog, .ajax-dialog.вход {width:300px;margin-left:-150px!important;top:10px;}
.popup-register .input-row input.text, .popup-forgot-pass .input-row input.text {width:100%;margin-bottom:15px;margin-right:0px;}
.popup-register .input-row label.error {right:0;}
.popup-register .register-table .td-2 {display:none;}
.popup-register .register-table .td-1 {padding-right:0;}
.home-row table .td-1 {display:none;}
.home-row table .td-2 {padding-left:0;} 
.category-qa-list li .l-p {display:none;}
.category-qa-list li .r-p {margin:0px;}
.category-qa-list li .r-p .com-box-2 {display:block;}
.share-form .td-1 p {font-size:13px;line-height:14px;margin:5px 0px;}
.share-form .b-share__handle {padding:3px !important;}
.share-form span.close-handler {right:10px;}
}