

/* Start:/bitrix/templates/nkj.kotico/components/bitrix/catalog.element/bootstrap2.0/style.css?15261573424125*/
.catalog-price {
	 color:red;
}

.buy_mag {background: #f5f5f5; font-weight: bold; padding: 9px 20px;margin: 2px 0 20px;}

.text .carousel-caption {position: static;background: none;font-style: italic;padding: 10px 0; border-bottom: 3px solid #ccc;font-size: 12px;line-height: 1.6;font-weight: normal;}
.text .carousel img {display: inline-block;margin: 0 auto;}
.text p {font-size: 14px; color: #000; line-height: 1.6;}

article.archive h1 { font-size: 20pt }
article.archive h2 { font-size: 14pt; line-height: 1.5em }
article.archive p { text-indent: 0em; margin-bottom: 1em }
article.archive p.author { font-weight: bold }
article.archive figure { margin: 0em 0em 1em; text-align: center }
article.archive figure figcaption { margin-top: 0.5em; font-size: 0.8em; text-align: left }

article.archive a.forum {color:#000; text-decoration: none;font-weight: normal;border: 2px solid #1598ed; padding: 10px 20px;}
article.archive a.forum:hover {background: #1598ed; color: #fff;}

article.archive .cover { float: left; width: 160px; margin-left: -180px; text-align: center; }
article.archive .cover img { display: block; width: 100% }
article.archive .text { }
article.archive .figures { }
@media (max-width: 1559px) {
	article.archive .cover { width: 80px; margin-left: -100px }
}
@media (max-width: 1389px) {
	article.archive .cover { width: 60px; margin: 0em 2em 0em 0em; font-size: 0.8em }
	article.archive .text { clear: left }
}
@media (max-width: 767px) {
	article.archive .figures { float: none }
}

article.archive .see-also { clear: both; margin-top: 2em }
article.archive .see-also h6 { font-weight: normal; font-size: 1.2em }
article.archive .see-also ul { list-style-type: none; padding: 0em; margin: 0em }
article.archive .see-also li { margin: 0em 0em 0.5em }

article.archive aside .prop-title { width: 100%; font-size: 1.0em; padding: 0.25em}
.rel-articles .rel-col {
    -webkit-column-width: 320px;
    -moz-column-width: 320px;
    column-width: 320px;

    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;
}

.rel-articles a p { color: #333 }
.rel-articles a:hover { text-decoration: none }
.rel-articles a:hover .rel-title { text-decoration: underline }

.rel-article { display: inline-block; margin-bottom: 1em; font-size: 0.9em; padding: 4px }
/* .rel-article:hover { box-shadow: 2px 2px 3px 2px #ccc; } */
.rel-article img { width: 120px; height: auto; float: left }
.rel-article h6, .rel-article p { margin-left: 140px }
.rel-article .rel-title { margin-top: 0px }

	article.archive .swiper-pagination {
		position: static;
		height: 2em;
	}
	article.archive .swiper-button-next, article.archive .swiper-button-prev {
		position: absolute;
		top: 40%;
		width: 40px;
		height: 40px;
		margin-top: -20px;
		font-size: 60px;
		font-weight: 100;
		line-height: 30px;
		color: #fff;
		text-align: center;
		background: #222;
		border: 3px solid #fff;
		-webkit-border-radius: 23px;
		-moz-border-radius: 23px;
		border-radius: 23px;
		opacity: .5;
		filter: alpha(opacity=50);
	}
	article.archive .swiper-button-next {
		right: 15px;
		left: auto;
	}    
	article.archive .swiper-button-prev {
		right: auto;
		left: 15px;
	}
	article.archive .figure-caption {
		position: static;
		background: none;
		font-style: italic;
		padding: 10px 0;
		font-size: 12px;
		line-height: 1.6;
		font-weight: normal;    
	}
	article.archive .figure-caption .fullscreen-link {
		float: right;
		margin-left: 1em;
	}
	article.archive .figure-caption:after {
		clear: both;
		content: '';
		display: block;
	}
	article.archive .figure-caption.fullscreen-link {
		position: absolute;
		right: 0px;
		bottom: 0.6em;
		padding: 0px;
		z-index: 15;
	}
	
	article.archive .swiper-slide img {
		height: 400px;
		max-width: 700px;
		width: auto;
	}
	article.archive .swiper-slide .figure-placeholder {
		width: 700px;
		height: 400px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}
	article.archive .swiper-slide:nth-child(odd) {
		text-align: center;
	}
	article.archive .swiper-wrapper {
		border-bottom: 3px solid lightgray;
		margin-bottom: 8px;
	}


/* End */


/* Start:/bitrix/components/nkj/image.slider/templates/swiper/style.css?15386038841641*/
.image-slider .swiper-button-prev.swiper-button-disabled,
.image-slider .swiper-button-next.swiper-button-disabled {
	display:  none;
}

.image-slider .swiper-pagination {
	position: static;
	height: 2em;
}
.image-slider .swiper-button-next, .image-slider .swiper-button-prev {
	position: absolute;
	top: 40%;
	width: 40px;
	height: 40px;
	margin-top: -20px;
	font-size: 60px;
	font-weight: 100;
	line-height: 30px;
	color: #fff;
	text-align: center;
	background: #222;
	border: 3px solid #fff;
	-webkit-border-radius: 23px;
	-moz-border-radius: 23px;
	border-radius: 23px;
	opacity: .5;
	filter: alpha(opacity=50);
}
.image-slider .swiper-button-next {
	right: 15px;
	left: auto;
}    
.image-slider .swiper-button-prev {
	right: auto;
	left: 15px;
}
.image-slider .figure-caption {
	position: static;
	background: none;
	font-style: italic;
	padding: 10px 0;
	font-size: 12px;
	line-height: 1.6;
	font-weight: normal;    
}
.image-slider .figure-caption .fullscreen-link {
	float: right;
	margin-left: 1em;
}
.image-slider .figure-caption:after {
	clear: both;
	content: '';
	display: block;
}
.image-slider .figure-caption.fullscreen-link {
	position: absolute;
	right: 0px;
	bottom: 0.6em;
	padding: 0px;
	z-index: 15;
}

.image-slider .swiper-slide img {
	height: 400px;
	max-width: 700px;
	width: auto;
}
.image-slider .swiper-slide .figure-placeholder {
	width: 700px;
	height: 400px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
.image-slider .swiper-slide:nth-child(odd) {
	text-align: center;
}
.image-slider .swiper-wrapper {
	border-bottom: 3px solid lightgray;
	margin-bottom: 8px;
}
/* End */


/* Start:/bitrix/templates/nkj.kotico/css/swiper.css?153860074511109*/
/**
 * Swiper 4.4.1
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * http://www.idangero.us/swiper/
 *
 * Copyright 2014-2018 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: September 14, 2018
 */
.swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
}
.swiper-container-no-flexbox .swiper-slide {
  float: left;
}
.swiper-container-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.swiper-container-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);
}
.swiper-container-multirow > .swiper-wrapper {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.swiper-container-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto;
}
.swiper-slide {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}
.swiper-slide-invisible-blank {
  visibility: hidden;
}
/* Auto Height */
.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
  height: auto;
}
.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-transition-property: height, -webkit-transform;
  transition-property: height, -webkit-transform;
  -o-transition-property: transform, height;
  transition-property: transform, height;
  transition-property: transform, height, -webkit-transform;
}
/* IE10 Windows Phone 8 Fixes */
.swiper-container-wp8-horizontal,
.swiper-container-wp8-horizontal > .swiper-wrapper {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}
.swiper-container-wp8-vertical,
.swiper-container-wp8-vertical > .swiper-wrapper {
  -ms-touch-action: pan-x;
  touch-action: pan-x;
}
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  width: 27px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat;
}
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}
.swiper-button-lock {
  display: none;
}
.swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transition: 300ms opacity;
  -o-transition: 300ms opacity;
  transition: 300ms opacity;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 10;
}
.swiper-pagination.swiper-pagination-hidden {
  opacity: 0;
}
/* Common Styles */
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 10px;
  left: 0;
  width: 100%;
}
/* Bullets */
.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: 0.2;
}
button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}
.swiper-pagination-bullet-active {
  opacity: 1;
  background: #4ae;
}
.swiper-container-vertical > .swiper-pagination-bullets {
  right: 10px;
  top: 50%;
  -webkit-transform: translate3d(0px, -50%, 0);
  transform: translate3d(0px, -50%, 0);
}
.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 6px 0;
  display: block;
}
.swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 8px;
}
.swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  display: inline-block;
  -webkit-transition: 200ms top, 200ms -webkit-transform;
  transition: 200ms top, 200ms -webkit-transform;
  -o-transition: 200ms transform, 200ms top;
  transition: 200ms transform, 200ms top;
  transition: 200ms transform, 200ms top, 200ms -webkit-transform;
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 4px;
}
.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  white-space: nowrap;
}
.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  -webkit-transition: 200ms left, 200ms -webkit-transform;
  transition: 200ms left, 200ms -webkit-transform;
  -o-transition: 200ms transform, 200ms left;
  transition: 200ms transform, 200ms left;
  transition: 200ms transform, 200ms left, 200ms -webkit-transform;
}
.swiper-container-horizontal.swiper-container-rtl > .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  -webkit-transition: 200ms right, 200ms -webkit-transform;
  transition: 200ms right, 200ms -webkit-transform;
  -o-transition: 200ms transform, 200ms right;
  transition: 200ms transform, 200ms right;
  transition: 200ms transform, 200ms right, 200ms -webkit-transform;
}
/* Progress */
.swiper-pagination-progressbar {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #4ae;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
}
.swiper-container-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  -webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top;
}
.swiper-container-horizontal > .swiper-pagination-progressbar,
.swiper-container-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  width: 100%;
  height: 4px;
  left: 0;
  top: 0;
}
.swiper-container-vertical > .swiper-pagination-progressbar,
.swiper-container-horizontal > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  width: 4px;
  height: 100%;
  left: 0;
  top: 0;
}
.swiper-pagination-white .swiper-pagination-bullet-active {
  background: #ffffff;
}
.swiper-pagination-progressbar.swiper-pagination-white {
  background: rgba(255, 255, 255, 0.25);
}
.swiper-pagination-progressbar.swiper-pagination-white .swiper-pagination-progressbar-fill {
  background: #ffffff;
}
.swiper-pagination-black .swiper-pagination-bullet-active {
  background: #000000;
}
.swiper-pagination-progressbar.swiper-pagination-black {
  background: rgba(0, 0, 0, 0.25);
}
.swiper-pagination-progressbar.swiper-pagination-black .swiper-pagination-progressbar-fill {
  background: #000000;
}
.swiper-pagination-lock {
  display: none;
}
/* a11y */
.swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000;
}
.swiper-container-fade.swiper-container-free-mode .swiper-slide {
  -webkit-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.swiper-container-fade .swiper-slide {
  pointer-events: none;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.swiper-container-fade .swiper-slide .swiper-slide {
  pointer-events: none;
}
.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}
.swiper-container-cube {
  overflow: visible;
}
.swiper-container-cube .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
  visibility: hidden;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  width: 100%;
  height: 100%;
}
.swiper-container-cube .swiper-slide .swiper-slide {
  pointer-events: none;
}
.swiper-container-cube.swiper-container-rtl .swiper-slide {
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
}
.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}
.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-next,
.swiper-container-cube .swiper-slide-prev,
.swiper-container-cube .swiper-slide-next + .swiper-slide {
  pointer-events: auto;
  visibility: visible;
}
.swiper-container-cube .swiper-slide-shadow-top,
.swiper-container-cube .swiper-slide-shadow-bottom,
.swiper-container-cube .swiper-slide-shadow-left,
.swiper-container-cube .swiper-slide-shadow-right {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.swiper-container-cube .swiper-cube-shadow {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  -webkit-filter: blur(50px);
  filter: blur(50px);
  z-index: 0;
}
.swiper-container-flip {
  overflow: visible;
}
.swiper-container-flip .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
}
.swiper-container-flip .swiper-slide .swiper-slide {
  pointer-events: none;
}
.swiper-container-flip .swiper-slide-active,
.swiper-container-flip .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}
.swiper-container-flip .swiper-slide-shadow-top,
.swiper-container-flip .swiper-slide-shadow-bottom,
.swiper-container-flip .swiper-slide-shadow-left,
.swiper-container-flip .swiper-slide-shadow-right {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.swiper-container-coverflow .swiper-wrapper {
  /* Windows 8 IE 10 fix */
  -ms-perspective: 1200px;
}

/* End */


/* Start:/bitrix/templates/nkj.kotico/components/bitrix/main.share/big/style.css?1514628103354*/
.social-bar { width: 100%; height: 30px; border: none; padding: 8px 0px 0px; margin-bottom: 1em }
.social-bar > * { display: block; float: left; margin: 0px 18px 18px 0px }
.social-tw { width: 110px }
.social-gp { width: 130px }
.social-fb, .social-vk { width: 150px; overflow: hidden; max-height: 30px }
.social-bar:after { display: table; clear: both }
/* End */


/* Start:/bitrix/templates/nkj.kotico/components/nkj/popular.list/main_3/style.css?1514628103702*/
/*.block-link a, .block-link a:hover, .block-link a:focus { text-decoration: none }
.block-link a:hover p { color: #560319 } */

.popular { }
.popular h5 { text-transform: uppercase }
.popular article { clear: both; margin: 0em 0em }
.popular article h6 { margin: 0.8em 0em 0em; font-weight: normal; font-size: 11pt }
.popular article p { font-size: 85%; color: black }
.popular article a:hover p, .popular article a:focus p { text-decoration: none; }
.popular article a:hover h6 { text-decoration: underline; }

.popular article figure { margin: 0px; float: none; width: 100%; height: 150px }
.popular article figure img { width: 100%; height: auto }
.popular article figure + * { margin-left: 0px; }

/* End */
/* /bitrix/templates/nkj.kotico/components/bitrix/catalog.element/bootstrap2.0/style.css?15261573424125 */
/* /bitrix/components/nkj/image.slider/templates/swiper/style.css?15386038841641 */
/* /bitrix/templates/nkj.kotico/css/swiper.css?153860074511109 */
/* /bitrix/templates/nkj.kotico/components/bitrix/main.share/big/style.css?1514628103354 */
/* /bitrix/templates/nkj.kotico/components/nkj/popular.list/main_3/style.css?1514628103702 */
