#popup {
    position: fixed;
    /*border: 8px solid #000;*/
    width: 824px;
    height: 580px;
    /*background: #000;*/
    margin: -290px 0 0 -412px;
    left: 50%;
    top: 50%;
    display: none;
    z-index: 1000;
    border-radius: 8px;
    padding: 15px;
}
#popup-close {
	background: url(images/pop-close-over.png) center left no-repeat; 
   	width: 35px;
   	height: 34px;
   	position: absolute;
   	right: 70px;
   	top: 40px;
   	cursor: pointer;
}
#popup-close:hover {
	background: url(images/pop-close.png) center left no-repeat; 
}
